.button-how {
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Karla";
  color: white;
  text-align: center;
  background-color: rgba(0, 42, 61, 0.9);
  border-radius: 1px;
  padding: .6rem;
  z-index: 180;
  margin-top: -2rem;
  cursor: pointer;
  transition: all .2s; }

.button-how:hover {
  transition: all .2s;
  background-color: #ececec;
  color: rgba(0, 42, 61, 0.9);
  border-radius: 5px;
  font-weight: bold; }

.button-how-remove {
  opacity: 0; }

.bio-info-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 2rem; }
  .bio-info-grid .bio-info-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: "Karla";
    color: white;
    font-weight: 600; }
  .bio-info-grid .bio-info-social-links {
    width: 75%;
    display: inline-flex;
    font-size: 2.5rem; }
    .bio-info-grid .bio-info-social-links div {
      width: calc(100% /2);
      display: flex;
      justify-content: center;
      color: white;
      transition: all 0.2s;
      cursor: pointer; }
    .bio-info-grid .bio-info-social-links div:hover {
      transition: all 0.2s;
      color: #ececec;
      font-size: 2.8rem;
      cursor: pointer; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: inherit;
  color: inherit; }

@media (max-width: 667px) {
  .tag-line {
    flex-direction: column !important; } }

.firms-footer {
  position: absolute;
  z-index: 190;
  bottom: .5rem;
  width: 50vw;
  height: 4rem;
  display: flex; }
  .firms-footer .firm-item {
    padding-left: .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    color: rgba(0, 42, 61, 0.9);
    font-family: "Karla";
    font-size: 1rem; }
  .firms-footer .firm-image img {
    width: 4rem;
    height: 3rem; }

.footer-one {
  right: -42.5vw; }

.footer-two {
  left: 52.5vw; }

@media only screen and (min-device-width: 370px) and (max-device-width: 667px) {
  .firms-footer {
    position: absolute;
    display: block !important;
    z-index: 190;
    bottom: 92vh;
    width: 50vw;
    height: 4rem;
    display: flex; }
    .firms-footer .firm-item {
      padding-left: .5rem;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 100%;
      color: rgba(0, 42, 61, 0.9);
      font-family: "Karla";
      font-size: 1rem; }
    .firms-footer .firm-image img {
      width: 1.5rem;
      height: 1.5rem; }
  .footer-one {
    right: -15vw; }
  .footer-two {
    left: 52.5vw; } }

@media only screen and (max-device-width: 320px) {
  .firms-footer {
    position: absolute;
    display: block !important;
    z-index: 190;
    bottom: 92vh;
    width: 50vw;
    height: 4rem;
    display: flex; }
    .firms-footer .firm-item {
      padding-left: .5rem;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 100%;
      color: rgba(0, 42, 61, 0.9);
      font-family: "Karla";
      font-size: 1rem; }
    .firms-footer .firm-image img {
      width: 1.5rem;
      height: 1.5rem; }
  .footer-one {
    right: -15vw; }
  .footer-two {
    left: 52.5vw; } }

html,
body {
  overflow-x: hidden; }

.home-wrap {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; }

.home-top-wrapper {
  width: 100%;
  height: 35rem;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  background-image: url(../images/pexels-photo-259962.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 75% center;
  display: inline-flex;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.22); }
  .home-top-wrapper .top-left-logo {
    position: absolute;
    z-index: 50;
    top: 10px;
    left: 20px;
    height: 60px;
    width: 75px;
    background-image: url(../images/Frame.png);
    background-size: 100% 100%; }
  .home-top-wrapper .menu-header {
    width: 100%;
    height: 10vh;
    background-color: #002132;
    position: absolute; }
  .home-top-wrapper .layer {
    background-color: rgba(248, 247, 216, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .home-top-wrapper .body-wrapper-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100; }
  .home-top-wrapper .container-50 {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 150; }
  .home-top-wrapper .c-50-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
  .home-top-wrapper .c-50-two {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .home-top-wrapper .bio-info-grid-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .home-top-wrapper .bio-info-grid-wrapper .view-rentals {
      font-weight: bolder; }
  .home-top-wrapper .bio-info-image {
    height: 25em;
    width: 15em;
    background-image: url(../images/United_Pic_1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10em; }
  .home-top-wrapper .TRB-wrap {
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 60rem;
    border-radius: 0.5rem;
    padding: 0.25rem; }
    .home-top-wrapper .TRB-wrap .TRB-logo {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }

.TRB-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgba(0, 42, 61, 0.9);
  font-size: 4rem;
  border-radius: 5px;
  padding: 10px;
  margin-top: -4rem;
  text-shadow: 1.5px 3px white; }

.RDC-wrap {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  color: rgba(0, 42, 61, 0.9);
  margin-top: -4rem; }
  .RDC-wrap .rdc {
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
    text-shadow: 1px 1px white; }
  .RDC-wrap .fa {
    text-decoration: none;
    font-size: 0.8rem; }
  .RDC-wrap a {
    text-decoration: none;
    font-size: 0.8rem;
    color: inherit; }

.home-bottom-wrapper {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  background-color: red; }

.home-middle-banner {
  box-sizing: border-box;
  background-color: rgba(0, 42, 61, 0.9);
  height: auto;
  width: 100%;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: #ececec; }

.tag-line {
  padding: 5rem;
  color: rgba(0, 0, 0, 0.22);
  background-color: white; }

.home-middle-wrapper {
  box-sizing: border-box;
  background-color: rgba(0, 42, 61, 0.9);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.how-it-works-card {
  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 1rem; }
  .how-it-works-card .how-it-works-item {
    width: 90%;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: rgba(0, 42, 61, 0.9);
    line-height: 1.5rem; }
  .how-it-works-card i {
    font-size: 4rem; }
  .how-it-works-card .fa {
    color: rgba(0, 0, 0, 0.22); }

.bio-info-image {
  height: 18rem;
  width: 18rem;
  background-image: url(../images/United_Pic_1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10em; }

.bio-banner {
  background-color: white !important; }

.bio-wrapper {
  width: 60rem !important;
  padding: 1rem;
  border-radius: 5px;
  padding: 4rem !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.hiw-wrapper {
  background-color: white;
  justify-content: center; }

.hiw-wrapper-sub {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .hiw-wrapper-sub h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.22);
    padding-bottom: 5rem; }

.hiw-wrapper-sub-card {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #496a59;
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem;
  box-shadow: inset 0 -6px 4px 0px rgba(0, 0, 0, 0.22); }
  .hiw-wrapper-sub-card div {
    display: flex;
    justify-content: space-around; }

.tag-item {
  padding: 5px; }

@media (max-width: 1260px) {
  .tag-line {
    flex-direction: column !important; } }

.button-how {
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Karla";
  color: white;
  text-align: center;
  background-color: rgba(0, 42, 61, 0.9);
  border-radius: 1px;
  padding: 0.6rem;
  z-index: 180;
  margin-top: -2rem;
  cursor: pointer;
  transition: all 0.2s; }

.button-how:hover {
  transition: all 0.2s;
  background-color: #ececec;
  color: rgba(0, 42, 61, 0.9);
  border-radius: 5px;
  font-weight: bold; }

.button-view {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Karla";
  color: white;
  text-align: center;
  background-color: #496a59;
  border-radius: 1px;
  z-index: 180;
  margin-top: 1rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: all 0.2s; }

.button-view:hover {
  transition: all 0.2s;
  background-color: #ececec;
  color: rgba(0, 42, 61, 0.9);
  border-radius: 5px;
  font-weight: bold; }

.footer {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 42, 61, 0.9);
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  align-items: center; }
  .footer .fair-housing {
    padding: 2rem;
    background-image: url(../images/Equal-Housing-Opportunity-Logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .footer .united-img {
    padding: 2rem;
    background-image: url(../images/united_grey.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat; }

@media (max-width: 900px) {
  .TRB-title {
    margin-top: 0rem;
    width: 40%;
    text-align: center; }
  .home-top-wrapper {
    height: 30rem; }
  .home-top-wrapper .top-left-logo {
    left: 10px;
    width: 45px;
    height: 40px; }
  .RDC-wrap {
    width: auto; }
  .rdc {
    margin: 5px; } }

@media screen and (max-width: 667px) {
  .TRB-title {
    margin-top: 0rem;
    width: 40%;
    text-align: center; }
  .home-top-wrapper {
    height: 30rem; }
  .home-top-wrapper .top-left-logo {
    left: 10px;
    width: 45px;
    height: 40px; }
  .RDC-wrap {
    width: auto; }
  .rdc {
    margin: 5px; }
  .tag-line {
    padding: 2rem;
    text-align: center; }
  .tag-item {
    width: 300px;
    font-size: 2rem; }
  .home-middle-wrapper {
    flex-direction: column; }
  .bio-wrapper {
    width: 100% !important;
    padding: 1rem !important; }
  .bio-info-grid-wrapper {
    margin-top: -1rem; }
  .mobile-email {
    font-size: 1.25rem !important; }
  .mobile-number {
    font-size: 1.25rem !important; }
  .mobile-name {
    font-size: 2rem !important; }
  .hiw-wrapper {
    text-align: center; }
  .hiw-wrapper-sub h1 {
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 3rem; }
  .hiw-wrapper-sub-card div {
    flex-direction: column; }
  .how-it-works-card {
    height: 18rem;
    width: 18rem; }
  .how-it-works-card .how-it-works-item {
    font-size: 2rem;
    line-height: 2.5rem; }
  .fa {
    font-size: 3rem; }
  .footer .fair-housing {
    padding: 2rem; }
  .footer .united-img {
    padding: 2rem; }
  .home-bottom-wrapper {
    padding-top: 3rem; } }
