$playfair: "playfair", "Georgia", Cambria, Times New Roman, Times, serif;
$lato: "Lato", sans-serif;
$karla: "Karla";
$blue: rgba(0, 42, 61, 0.9);
$white: rgba(255, 255, 255, 1);

$white-smoke: rgba(236, 236, 236, 1);
$white-smoke-panel: rgba(236, 236, 236, 0.6);

$layer-white: rgba(255, 255, 255, 0);
$orange: rgb(228, 68, 0);
$green: #496a59;

.bio-info-grid {
  // height: 31rem;
  // width: CALC(50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;

  .bio-info-grid-container {
    width: 100%;
    // height: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    font-size: 1.5rem;
    font-family: $karla;
    color: white;
    font-weight: 600;
  }
  .bio-info-social-links {
    width: 75%;
    display: inline-flex;
    font-size: 2.5rem;
    div {
      width: calc(100% /2);
      display: flex;
      justify-content: center;
      color: $white;
      transition: all 0.2s;
      cursor: pointer;
    }
    div:hover {
      transition: all 0.2s;
      color: $white-smoke;
      font-size: 2.8rem;
      cursor: pointer;
    }
  }
}
